*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.timeline-text{
    display:flex;
    justify-content: center;
    align-items: center;
    color:#1D2E28;
    font-size:60px;
    font-weight:bold;
   
}

.timeline {
    position: relative;
    max-width: 600px;
    margin: 100px auto;
    margin-bottom:170px;    
}

.container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    opacity:0;
    
    /* animation:movedown 1s linear forwards,opacity 3s linear;
    */
}

@keyframes movedown {
    0%{
        opacity:1;
        transform:translateY(-30px);

    }

    100%{
        opacity:1;
        transform:translateY(0px);
    }
}


.container:nth-child(1){
    animation-delay:0s;
}
.container:nth-child(2){
    animation-delay:1s;
}
.container:nth-child(3){
    animation-delay:2s;
}
.container:nth-child(4){
    animation-delay:3s;
}

.left-container{
    
    left:-50%;
}

.right-container{
    left: 50%;

}

.timeline::after{
    content:'';
    position:absolute;
    width: 6px;
    height: 100%;
    background: #DAF1DE;
    top:0;
    left:50%;
    margin-left:-3px;
    z-index:-1;
    /* animation: opacity 10s ease-in-out; */

}

@keyframes moveline{
    0%{
        height: 0%;
    }

    100%{
        height: 100%;
    }
}

.text-box {
    padding: 20px 30px;
    background-color: #DAF1DE;
    position: relative;
    border-radius: 10px;
    font-size: 16px;
}

.text-box h2 {
    font-weight: bold;
    
}

.left-container-arrow {
    position: absolute;
    top: 28px;
    z-index: 1;
    height: 0;
    width: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #DAF1DE;
    right:-15px;
}

.right-container-arrow {
    position: absolute;
    top: 28px;
    z-index: 1;
    height: 0;
    width: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #DAF1DE;
    left:-15px;
}

@media screen and (max-width: 768px){
    /* .timeline {
        justify-content: center;
        align-items: center;
    }

    .timeline-text {
        margin-top: 50px; 
        font-size: 30px; 
    }

    .text-box {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .right-container-arrow {
        border-right:15px solid #fff;
        border-left:0;
        left:-15px;
    }

    .left-container-arrow {
        border-left:15px solid #fff;
        border-right:0;
        right:-15px;
    } */

    .timeline{
        margin:50px auto;

    }

    .timeline::after{
        left:31px;
    }
    .timeline-text{
        margin-top:150px;
        font-size:40px;
    }
    .container{
        width: 100%;
        padding-left:80px;
        padding-right:25px;
    }

    .text-box{
        font-size:13px;
    }

    .right-container{
        left:-5%;
    }
    .left-container{
        left:-5%;
    }
    .left-container-arrow,.right-container-arrow{
        border-right:15px solid #DAF1DE;
        border-left:0;
        left:-15px;
    } 
    
}
