@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Thai:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

footer a:hover {
  color: #82bba794;
}

@media (640px <= width <= 768px) {
  .grid-span-2 {
    grid-column-start: span 2;
  }
}
